<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netMsmqBinding>
        <binding name="NetMsmqBinding_IMsmqContract" exactlyOnce="false">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>
    <client>
      <endpoint address="net.msmq://localhost/private/MyMSMQService/MyMSMQService.svc"
        binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_IMsmqContract"
        contract="MyMSMQService.IMsmqContract" name="NetMsmqBinding_IMsmqContract" />
    </client>
  </system.serviceModel>
</configuration>