<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netMsmqBinding>
        <binding name="NetMsmqBinding_IMsmqContract" exactlyOnce="true" receiveErrorHandling="Move">
          <security mode="Transport">
            <transport msmqAuthenticationMode="WindowsDomain" />
          </security>
        </binding>
      </netMsmqBinding>
    </bindings>
    <client>
      <endpoint address="net.msmq://10.0.2.101/private/MyMSMQService/MyMSMQService.svc"
        binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_IMsmqContract"
        contract="MyMSMQService.IMsmqContract" name="NetMsmqBinding_IMsmqContract" />
    </client>
  </system.serviceModel>
</configuration>